<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>First App</title>
</head>
<body>
  <h1>This is index.html</h1>
 
  <h2>{{ message }}</h2>

  <h3>Programs offered</h3>
 <table border="1">
   {% for r in program_rows %}
     <tr>
       <td>{{ r.title }}</td>
       <td>{{ r.branch }}</td>
     </tr>
   {% endfor %}
 </table>
<h3>Students' list</h3>
 <table border="1">
   {% for s in student_rows %}
     <tr>
       <td>{{ s.name }}</td>
       <td>{{ s.roll }}</td>
       <td>{{ s.year }}</td>
       <td>{{ s.dob }}</td>
     </tr>
   {% endfor %}
 </table>
</body>
</html>